<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<div class="row">
    <div class="col-lg-1"></div>
    <div *ngIf="check0">
        <h2><u>Add Movie Here</u></h2><br>
        <label>Movie ID:</label>
        <input type="text" name="movieid" [(ngModel)]="movie_obj.movie_Id" placeholder="enter movie id" required class="form-control" autocomplete="off">
        <label>Movie Name:</label>
        <input type="text" name="moviename" [(ngModel)]="movie_obj.movie_Name" placeholder="enter movie name" required class="form-control" autocomplete="off">
        <label>Movie Genre:</label>
        <input type="text" name="moviegenre" [(ngModel)]="movie_obj.movie_Genre" placeholder="enter movie genre" required class="form-control" autocomplete="off">
        <label>Movie Director:</label>
        <input type="text" name="directorname" [(ngModel)]="movie_obj.movie_Director" placeholder="enter director name" required class="form-control" autocomplete="off">
        <label>Movie Length:</label>
        <input type="text" name="movielength" [(ngModel)]="movie_obj.movie_Length" placeholder="enter movie length" required class="form-control" autocomplete="off">
        <label>Movie Release Date:</label>
        <input type="date" name="moviedate" [(ngModel)]="movie_obj.movie_Release_Date" placeholder="enter movie release date" required class="form-control" autocomplete="off">
        <label>Theatre Name:</label>
        <input type="text" name="theatrename" [(ngModel)]="movie_obj.theatre_Name" placeholder="enter theatre name" required class="form-control" autocomplete="off">
        <br>
        <input type="submit" value="Add City" (click)="add_movie()" class="btn btn-success">
    </div>
</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4" *ngIf="check1">
        <h4>{{add_message}}</h4>
    </div>
</div>