<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<div class="row">
    <div class="col-lg-1"></div>
    <div *ngIf="check0">
        <h2><u>Add City Here</u></h2><br>
        <label>City ID:</label>
        <input type="text" name="cityid" [(ngModel)]="city_obj.city_Id" placeholder="enter city Id" required class="form-control" autocomplete="off">
        <label>City Name:</label>
        <input type="text" name="cityname" [(ngModel)]="city_obj.city_Name" placeholder="enter city Name" required class="form-control" autocomplete="off">
        <br>
        <input type="submit" value="Add City" (click)="add_city()" class="btn btn-success">
    </div>
</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4" *ngIf="check1">
        <h4>{{add_message}}</h4>
    </div>
</div>